@page
@model WEB.Shop.UI.Pages.Admin.AutomationPanelModel

    <div>
        <component type="typeof(Pages.Shared.Components.Blazor.AdminAutomationPanelComponent)" render-mode="ServerPrerendered" />
    </div>

