@page
@model WEB.Shop.UI.Pages.Admin.ConfigureUsersModel


    <div>
        <component type="typeof(Pages.Shared.Components.Blazor.AdminUsersComponent)" render-mode="ServerPrerendered" />
    </div>

<div id="app" class="container">
    <input v-model="username" />
    <button @@click="createUser">Create</button>




</div>

@section scripts
{
    <script src="~/js/admin/users.js"></script>
}
