@page
@model WEB.Shop.UI.CrawlersManagementModel

<h1>Crawlers Management</h1>

<div>
    <component type="typeof(Pages.Shared.Components.Blazor.CrawlersComponent)" render-mode="ServerPrerendered" />
</div>


