@page
@model WEB.Shop.UI.Pages.Admin.CrawlersPanelModel

@{
    ViewBag.Title = "CrawlersPanel";
}

<div>
    <component type="typeof(Pages.Shared.Components.Blazor.AdminCrawlersComponent)" render-mode="ServerPrerendered" />
</div>


