@page
@model WEB.Shop.UI.Pages.Admin.DatabasePanelModel

@{
    ViewBag.Title = "DatabasePanel";
}

<div>
    <component type="typeof(Pages.Shared.Components.Blazor.AdminDatabaseComponent)" render-mode="ServerPrerendered" />
</div>