@page
@model WEB.Shop.UI.Pages.Admin.IndexModel

@{
    ViewBag.Title = "Index";
}

<div>
    <component type="typeof(Pages.Shared.Components.Blazor.AdminIndexComponent)" render-mode="ServerPrerendered" />
</div>


