@page
@model WEB.Shop.UI.Pages.Admin.UsersPanelModel

<h3>AdminUsersComponent</h3>

<!-- User Data -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center mb-5">

                <!-- Users List -->
                <div class="col-xl-7">
                    <h4 class="text-muted mb-4">Users:</h4>
                    <div id="accordion">

                        @foreach (var user in Model.AllUsers)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="@($"#collapseIt{user.Username}")">
                                        <img src="" alt="" class="mr-3 rounded" />
                                        User: @user.Username
                                    </button>
                                </div>
                                <div class="collapse" id="@($"collapseIt{user.Username}")" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-1">
                                                <a href="" class="myTip" data-toggle="tooltip" title="Edit" data-placement="top">
                                                    <i class="fas fa-edit fa-lg text-success mr-2 tza-nav-icon"></i>
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a asp-page="/Admin/UsersPanel" asp-page-handler="DeleteUser" asp-route-userName="@user.Username">
                                                    <i class="fas fa-trash-alt fa-lg text-danger tza-nav-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col xl-5 mt-5">

                    <!-- Add User -->
                    <div class="card rounded">
                        <div class="card-body">
                            <h5 class="text-muted text-center mb-4">Add User</h5>
                            <ul class="list-inline text-center py-3">
                                <li class="list-inline-item">
                                    <a href="">
                                        <i class="fas fa-pencil-alt text-success"></i>
                                        <span class="h6 text-muted">Admin</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="">
                                        <i class="fas fa-camera text-info"></i>
                                        <span class="h6 text-muted">Manager</span>
                                    </a>
                                </li>
                            </ul>
                            <form method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control py-2 mb-3" asp-for="Input.Username" placeholder="Username">
                                    <input type="password" class="form-control py-2 mb-3" asp-for="Input.Password" placeholder="Password">
                                    <button type="submit" class="btn btn-block text-uppercase font-weight-bold text-light bg-info py-2 mb-5">Add User</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





