@page
@model WEB.Shop.UI.Pages.Accounts.LoginModel

<section>
    <div class="container-fluid">
        <form method="post">
            <div>
                <label>Username</label>
                <div>
                    <input asp-for="Input.UserName" type="text" placeholder="Username">
                </div>
            </div>
            <div>
                <label>Password</label>
                <div>
                    <input asp-for="Input.Password" type="password" placeholder="Password">
                </div>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>



