
    <div class="container ">
        
        <div class="d-flex justify-content-center align-items-center ">
            
      
            <h4>Strona w budowie! Już niedługo ta funkcjonalność będzie dostępna :) !</h4>
            <div>

                <img src="~/images/maintenance-2422173_640.png" style="max-width: 100%; height: auto;" />

            </div>
        </div>
    
    
    </div>
   