<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TanieZarcie !!!</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </environment>

    <environment include="Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </environment>
</head>

<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
            <a class="navbar-brand" asp-page="/Index">TANIE ŻARCIE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Info" asp-action="WipPage">Top Promocje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Info" asp-action="WipPage">Zestawienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/MainProducts">Wszystkie Produkty</a>

                    </li>
                </ul>
                <ul class=" nav nav-pills nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <vc:cart view="Small"></vc:cart>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                <span class="glyphicon glyphicon-log-in">
                                </span>Logout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/Index">Admin</a>
                        </li>
                    }

                </ul>

            </div>
        </nav>
        <div>
            <partial name="_CookieConsentPartial" />
        </div>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </section>

    <footer class="page-footer">
        <div style="background-color: #000000;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">

                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0 text-light">Znajdź nas w mediach społecznościowych</h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4" style="color: white"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4" style="color: white"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container text-center text-md-left mt-5">


            <div class="row mt-3 dark-grey-text">


                <div class="col mb-4">


                    <h6 class="text-uppercase font-weight-bold">O NAS</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Tanie Żarcie to projekt, który powstał dla zabawy! Ciągle się rozwijamy i pracujemy nad nowymi funkcjami. Chcesz wiedzieć więcej? Zostań z nami. Już wkrótce opublikujemy szczegółowe informacje.
                    </p>

                </div>

                <div class="col-md-5 mx-auto mb-4">


                    <h6 class="text-uppercase font-weight-bold">Linki</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="#!">Your Account</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" asp-page="/Admin/Index">Admin Login</a>
                    </p>
                    <p>
                        Wszystkie zdjęcia na stronie zostały wykorzystane dzięki <a href="https://unsplash.com/">unsplash.com</a>:

                        <i>
                            <a href="https://unsplash.com/@@darias_big_world">Daria Volkova</a>,
                        </i>
                        <i>
                            <a href="https://unsplash.com/@@capturedmoments">Rebellé Fleur</a>,
                        </i>
                        <i>
                            <a href="https://unsplash.com/@@foodiesfeed">Jakub Kapusnak</a>,

                        </i>
                        <i>
                            <a href="https://unsplash.com/@@b_g">Benedikt Geyer</a>,
                        </i>
                        <i>
                            <a href="https://unsplash.com/@@markusspiske">Markus Spiske</a>,
                        </i>
                        <i>
                            <a href="https://unsplash.com/@@purzlbaum">Claudio Schwarz</a>
                        </i>
                        <i>oraz<a href="https://pixabay.com/pl/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2422173"> Gerd Altmann</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2422173"> Pixabay</a></i>


                    </p>

                </div>

                <div class="col mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Kraków
                    </p>
                    <p>

                </div>

            </div>


        </div>
        <div class="footer-copyright text-center text-black-50 py-3">
            © 2020 Copyright:TanieŻarcie - <a asp-area="" asp-page="/Privacy">Polityka Prywatności</a>

        </div>

    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
