@inject IAuthorizationService authService

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tanie Zarcie !!!</title>
    <base href="/" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/new-css.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="icon" href="@Url.Content("~/content/browserIcons/udko.png")" />
    <link href='https://fonts.googleapis.com/css?family=BioRhyme' rel='stylesheet'>
    <link href='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'>
</head>

<body>
    <section>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-page="/Index">TANIE <span> <img style="height:20px;" src="~/content/browserIcons/udko.png" alt="Udeczko" /> </span> ŻARCIE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/ProductsOverview">Wyszukiwarka</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="PromoSheets" asp-action="Index">Gazetki</a>
                    </li>

                    @if ((await authService.AuthorizeAsync(User, "Manager")).Succeeded)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Summaries" asp-action="Index">Top Promocje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="News" asp-action="NewsOverview">Aktualności</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Summaries" asp-action="Index">Zestawienia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Manager" asp-action="Index">News Management Panel</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                <span class="glyphicon glyphicon-log-in">
                                </span>Logout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/Index">Admin</a>
                        </li>
                    }
                </ul>
                <ul class="nav nav-pills nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <component type="typeof(Pages.Shared.Components.Blazor.Cart.SmallCartComponentComponent)" render-mode="ServerPrerendered" />
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <partial name="_CookieConsentPartial" />
        </div>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </section>


    <footer class="page-footer mt-5">
        <div style="background-color: #000000;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0 text-light"></h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!-- Facebook
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4" style="color: white"> </i>
                        </a>

                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4" style="color: white"> </i>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center text-md-left mt-5">
            <div class="row mt-3 dark-grey-text">
                <div class="col mb-4">
                    <h6 class="text-uppercase font-weight-bold">O NAS</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Projekt zrealizowany przez <a target="_blank" href="#" title="WebCouple">WebCouple</a>
                    </p>
                </div>
                <div class="col-md-8 mx-auto mb-4" style="font-size: 12px">
                    <h6 class="text-uppercase font-weight-bold">Linki</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="#!">Your Account</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" asp-page="/Admin/Index">Admin Login</a>
                    </p>

                    <p>
                        Icons made by Icons8 <a target="_blank" href="https://www.icons8.com/" title="Icons8">www.icons8.com</a>:
                        <a target="_blank" href="https://img.icons8.com/color/48/000000/chevron-down.png">Chevron,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/discount">Discount icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/online-shop-card-payment">Online Shop Card Payment icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/add-shopping-cart">Add Shopping Cart icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/news">News icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/undo">Undo icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/clear-shopping-cart">Clear Shopping Cart icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/price-tag">Price Tag icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/shopping-cart">Shopping Cart icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/delete-sign">Delete icon,</a>
                        <a target="_blank" href="https://icons8.com/icons/set/shop">Shop icon</a>
                    </p>
                    <p>

                        <i><a target="_blank" href="https://www.pexels.com/video/woman-pushing-a-shopping-cart-full-of-toilet-papers-4318387/">Video</a> by Pavel Danilyuk from <a target="_blank" href="https://www.pexels.com/">Pexels</a></i>
                    </p>
                </div>
               
            </div>

        </div>

        <div class="footer-copyright text-center text-black-50 py-3">
            © 2020 Copyright:TanieŻarcie - <a target="_blank" title="Polityka Prywatności"  asp-area="" asp-page="/Privacy">Polityka Prywatności</a>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/_framework/blazor.server.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
