<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB.Shop.UI</title>

    <environment include="Development">
        <link href="~/lib/bulma-0.8.0/css/bulma.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment include="Production">
        <link href="~/lib/bulma-0.8.0/css/bulma.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <a asp-page="/Admin/Index">Admin</a>
    <a asp-page="/Accounts/Login">Sign In</a>
    <a asp-controller="Account" asp-action="Logout">Sign Out</a>

    <partial name="_CookieConsentPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WEB.Shop.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>



    @RenderSection("Scripts", required: false)
</body>
</html>
