@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;
@inject SummariesBlazorService summariesBlazorService
@inject IJSRuntime jsRunTime


<h3>SummariesIndexComponent</h3>

<div id="chartdiv"></div>

<button type="button" @onclick="GetSummary">Generate Chart</button>

@code {

    List<SummariesBlazorService.ShopOverview> overview = new List<SummariesBlazorService.ShopOverview>();


    protected override async Task OnInitializedAsync()
    {


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //overview = summariesBlazorService.GetShopsData();

        //await jsRunTime.InvokeVoidAsync("GeneratePieChart", overview);

    }

    private async Task GetSummary()
    {
        overview = summariesBlazorService.GetShopsData();

        await jsRunTime.InvokeVoidAsync("GeneratePieChart", overview);
    }
}
