@page
@model WEB.Shop.UI.Pages.Checkout.PaymentModel

<div class="columns">
    <div class="column is-0-6">
        <div class="column is-6">
            <vc:cart view="Summary"></vc:cart>
        </div>
    </div>
</div>

