body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

/* loader start*/

.tza-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .tza-loader > span {
        display: inline-block;
        background-color: crimson;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        margin: 0 8px;
        transform: translate3d(0);
        animation: bounce 0.6s infinite alternate;
    }

        .tza-loader > span:nth-child(2) {
            background-color: orange;
            animation-delay: 0.2s;
        }

        .tza-loader > span:nth-child(3) {
            animation-delay: 0.4s;
        }

        .tza-loader > span:nth-child(4) {
            background-color: orange;
            animation-delay: 0.6s;
        }

        .tza-loader > span:nth-child(5) {
            animation-delay: 0.8s;
        }

        .tza-loader > span:nth-child(6) {
            background-color: orange;
            animation-delay: 1.0s;
        }

        .tza-loader > span:nth-child(7) {
            animation-delay: 1.2s;
        }

        .tza-loader > span:nth-child(8) {
            background-color: orange;
            animation-delay: 1.4s;
        }

        .tza-loader > span:nth-child(9) {
            animation-delay: 1.6s;
        }

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}

/* loader end*/

/* navbar start */

.tza-sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url('../content/adminsection/adminBackground.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
    /*background-image: url('../images/adminsection/adminBackground.jpeg');*/
}

.tza-bottom-border {
    border-bottom: 1px groove #eee;
}

.tza-sidebar-link {
    transition: all .5s;
}

    .tza-sidebar-link:hover {
        background-color: #444;
        border-radius: 5px;
    }

.tza-current {
    background-color: crimson;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .5s;
}

    .tza-current:hover {
        background-color: #f66436;
        border-radius: 7px;
        box-shadow: 2px 5px 20px #111;
        transform: translateY(-1px);
    }

@media(max-width: 768px) {
    .tza-sidebar {
        position: static;
        height: auto;
    }

    .tza-top-navbar {
        position: static;
    }
}

.tza-nav-icon {
    transition: all .5s;
}

    .tza-nav-icon:hover {
        transform: scale(1.5);
    }

.tza-card-icon {
    transition: all .5s;
}

    .tza-card-icon:hover {
        transform: scale(1.2);
        color: crimson;
    }

/* navbar end */

/* cards start */

.tza-card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all .5s;
}

    .tza-card-common:hover {
        box-shadow: 2px 3px 15px #999;
        transform: translateY(-1px);
    }

/* cards end */

/* tast list start */

.tza-task-border {
    border-left: 3px solid #f66436
}

/* tast list end */

.tza-object-hidden {
    display:none;
}