

* body {
    margin: 0;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    background-color: #fffafa;
}

/*Layout*/
.navbar {
    background-color: #000000 !important;
    z-index: 999;
    width: 100%;
    position: fixed;
}


/*Index NEW STYLE*/

.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #333;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

    .fullscreen-video-wrap video {
        min-height: 100%;
        min-width: 100%;
    }

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #e5e5e5;
    opacity: 0.70;
}

.header-content {
    z-index: 2;
}

    .header-content h1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    .header-content p {
        font-size: 1.5rem;
        display: block;
        padding-bottom: 2rem;
    }

.btn-1 {
    background: #ffc107;
    color: #000000;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-style: none;
}

    .btn-1:hover {
        background: linear-gradient(90deg, #ffc107, #ffffff, #ffc107);
        background-size: 400%;
        animation: animate 8s linear infinite;
    }

@keyframes animate {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 400%
    }
}

@media(max-width:960px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .header-content h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .header-content p {
        font-size: 1.2rem;
        display: block;
        padding-bottom: 2rem;
    }
}
/*Index section 2 cards*/


.card-img-top {
    width: 12rem;
}

.container-cards {
    position: relative;
    width: 18em;
    margin: 4em auto;
}

#card-00 {
    margin-left: -13em;
    background: #fffafa;
    box-shadow: 4px 4px 15px 2px #000000;
    z-index: 10;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: rotateZ(8deg);
}

#card-01 {
    background: #fffafa;
    z-index: 9;
    margin-left:-12em;
    box-shadow: 4px 4px 15px 2px #000000;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: rotateZ(3deg);
}

#card-02 {
    background: #fffafa;
    z-index: 8;
    margin-left:-13em;
    box-shadow: 4px 4px 15px 2px #000000;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    
}

#card-03 {
    background: #fffafa;
    z-index: 7;
    margin-left:-12em;
    box-shadow: 4px 4px 15px 2px #000000;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: rotateZ(-3deg);
}
#card-04 {
    background: #fffafa;
    z-index: 6;
    margin-left:-13em;
    box-shadow: 4px 4px 15px 2px #000000;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: rotateZ(-8deg);
}

.container-cards:hover .card-front,
.container-cards.hover .card-front {
    opacity: 0.9;
    transform: scale(0.95);
    margin-left: -12em;
}

    .container-cards:hover .card-front:hover,
    .container-cards.hover .card-front:hover,
    .container-cards:hover .card-front.hover,
    .container-cards.hover .card-front.hover {
        opacity: 1;
        z-index: 11;
        transform: scale(1);
        
    }

.container-cards:hover .card-00,
.container-cards.hover .card-00 {
    transform: rotateZ(0deg) scale(0.95);
    
}

.container-cards:hover .card-01,
.container-cards.hover .card-01 {
    left: 0%;
}

.container-cards:hover .card-02,
.container-cards.hover .card-02 {
    left: 100%;
}