* body {
    font-family: Arial, Helvetica, sans-serif;
}



.align-self-center {
    align-self: center,
}

.navbar {
    background-color: #000000 !important;
}

.container-fluid {
    padding: 20px;
}


.jumbotron-fluid {
    background-image: url('../images/daria-volkova-bmnx7l9g5xc-unsplash2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

/*#main-product {
    background-image: url('../images/background.jpg');
}*/

#search {
    position: fixed;
}

.card {
    border-radius: 25px 25px 0px 0px;
}

.card-text {
    font-size: 14px;
}

.text-muted {
    font-size: 9px;
    color: #ffffff !important;
    
    
}

/*.summary {
    display: block;
    border-radius: 25px;
}*/

#biedronka {
   /*border: 5px solid #f0930d;*/ 
    border-radius: 25px;
    /*background-color: #f5e011;*/
    color: #df1313;
}

#lidl {
    /*border: 5px solid #f0930d;*/
    border-radius: 25px;
    /*background-color: #f5e011;*/
    color: #df1313;
}

#kaufland {
    /*border: 5px solid #e30613;*/
    border-radius: 25px;
    /*background-color: #ffffff;*/
    color: #d25e64;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #ffc107 !important;
    border: 1px solid #ffc107;
}

.page-item {
    border-radius: 25px;
}

.main-header {
    display: flex;
    border-radius: 25px 25px 0px 0px;
    background-image: url('../images/jakub-kapusnak-vnnfwky7tj4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 9em;
}


.cart-header {
    display: flex;
    border-radius: 25px 25px 0px 0px;
    background-image: url('../images/daria-volkova-bmnx7l9g5xc-unsplash2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    height: 9em;
}
.btn {
    font-size: 12px;

}

.product {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}

#product-card {
    background-color: #000000;
    color: #ffffff;


}

.table {
    background-color: #ffffff;
    border-radius: 15px;
}
thead {
    background-color: #000000;
    color: #ffffff;
   
}
  th {

    padding: 5px;
    text-align: center;
    vertical-align: top;
}

#search-product {
    background-color: #000000;
    color: #ffffff;
    
}

#cart-partial-jumbo {
    /*background-image: url('../images/cart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;*/
    background-color: #000000;
    color: #ffffff;
}

td {
    font-size: 12px;
}

th {
    font-size: 14px;



}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.btn {
font-size: 16px;


}

li {
    margin-bottom: 3px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.page-footer {
    font-size: 12px;

}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
     Margin bottom by footer height 
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
