@model PromoSheetsViewModel

<div class="container cards" id="stack2">
    <h2 class="text-center m-5">
        Zobacz aktualne gazetki promocyjne!
    </h2>
    <div class="row">
        @foreach (var shop in Model.Shops)
        {
            if (shop.PromoSheets.Count > 0)
            {
                var imageShop = $"/ShopCardImage/{shop.Name}-s.jpg";

                <div class="col-md-4">
                    <div class="card shop-offer m-5">
                        <img class="img-fluid" src=@imageShop />


                        @foreach (var sheet in shop.PromoSheets)
                        {
                            <a data-toggle="tooltip" title="Przejdź do gazetki" class="text-center" href="@sheet.Url" target="_blank"> <img class="news-icon" src="~/images/icons8-news-100.png" /></a>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
