
<div class="container-fluid product">
    <div>
        <component type="typeof(Pages.Shared.Components.Blazor.Summaries.SummariesIndexComponent)" render-mode="ServerPrerendered" />
    </div>
</div>