@using WEB.Shop.Application.Crawlers
@using WEB.Shop.Application.Enums
@inject CrawlersCommander commander
@inject AdminIndexBlazorService indexService

<div class="columns">
    <div class="column">
        <div class="block">
            <div class="box">
                <div class="list is-hoverable">
                    <a class="list-item">
                        Featured
                    </a>
                    <a class="list-item">
                        All Posts
                    </a>
                    <a class="list-item is-active">
                        Announcements
                    </a>
                    <a class="list-item">
                        Business
                    </a>
                    <a class="list-item">
                        Community
                    </a>
                    <a class="list-item">
                        Data
                    </a>
                    <a class="list-item">
                        Editor Tools
                    </a>
                    <a class="list-item">
                        Education
                    </a>
                    <a class="list-item">
                        Engineering
                    </a>
                    <a class="list-item">
                        Events
                    </a>
                    <a class="list-item">
                        Policy
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <div class="box">

            </div>
        </div>
    </div>
</div>

@code {
    private Dictionary<string, bool> activeOption = new Dictionary<string, bool>();






}
