@using WEB.Shop.Application.Crawlers
@using WEB.Shop.Application.Enums
@inject CrawlersCommander commander
@inject AdminIndexBlazorService indexService






<h1>Admin Index</h1>











@code {
    private Dictionary<string, bool> activeOption = new Dictionary<string, bool>();






}
