@using WEB.Shop.UI.Automation
@using WEB.Shop.UI.Controllers
@inject IEnumerable<JobSchedule> jobSchedules

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row pt-md-5 mt-md-3 mb-5">

                @if (loading)
                {
                    <!-- Loader-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                                <div class="row pt-md-5 mt-md-3 mb-5">
                                    <div class="tza-loader">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xl-3 col-sm-6 p-2">
                        <h3 class="text-muted text-center">Active Jobs</h3>
                        <table class="table table-dark table-hover text-center text-nowrap">
                            <thead>
                                <tr class="text-muted">
                                    <th>Job</th>
                                    <th>Cron</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var job in jobs)
                                {
                                    <tr>
                                        <td>@job.JobName</td>
                                        <td>@job.CronExpression</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {

    bool loading = false;
    private List<AutomationController.AutomationDetails> jobs;

    protected override async Task OnInitializedAsync()
    {
        jobs = jobSchedules.Select(x => new AutomationController.AutomationDetails
        {
            JobName = x.JobType.FullName,
            CronExpression = x.CronExpression
        }).ToList();
    }
}
