
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row pt-md-5 mt-md-3 mb-5">

                @if (loading)
                {
                    <!-- Loader-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                                <div class="row pt-md-5 mt-md-3 mb-5">
                                    <div class="tza-loader">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xl-3 col-sm-6 p-2">
                        <!-- Automation Card -->
                        <div class="card tza-card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-robot fa-3x text-warning"></i>
                                    <div class="text-right text-secondary">

                               
                                            <h5 class="text-success">Automated Update Active</h5>
                                   
                                            <h5 class="text-warning">Automated Update Inactive</h5>
                                    

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <button class="bg-transparent border-0 tza-card-icon">
                                                    <i class="fas fa-bug mr-3"></i>
                                                    <span>Activate</span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="bg-transparent border-0 tza-card-icon">
                                                    <i class="fas fa-bug mr-3"></i>
                                                    <span>Stop</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@code {

    bool loading = false;

    protected override async Task OnInitializedAsync()
    {

    }
}
