@using WEB.Shop.Application.Automations
@inject AutomationController AutomationController

<h3>AutomationPanelComponent</h3>

@if (loading)
{
    <div class="container">
        <progress class="progress is-small is-primary" max="100">25%</progress>
    </div>
}

<p>Scheduler active: @AutomationController.CheckScheduler().ToString()</p>

<button class="btn btn-primary" @onclick="StartScheduler">Click me</button>

@code {

    bool loading = false;

    //protected override async Task OnInitializedAsync()
    //{

    //}

    private async Task StartScheduler()
    {
        if (loading)
        {
            return;
        }
        else
        {
            loading = true;
            await AutomationController.CreateScheduler();
            await AutomationController.ScheduleCrawlersAutomation();
            loading = false;
        }
    }

    private async Task StopScheduler()
    {
        if (loading)
        {
            return;
        }
        else
        {
            loading = true;
            await AutomationController.DisposeScheduler();
            loading = false;
        }
    }
}