@using WEB.Shop.Application.Automations
@inject AutomationController AutomationController

@if (loading)
{
    <div class="block">
        <progress class="progress is-small is-warning" max="100">25%</progress>
    </div>
}

<div class="section">
    <div class="box">
        <div class="columns">
            <div class="column is-3">
                <button class="button is-success is-small" @onclick="StartScheduler">Start Automation</button>
            </div>
            <div class="column is-3">
                <button class="button is-warning is-small" @onclick="StopScheduler">Stop Automation</button>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3">
                <button class="button is-primary is-small" @onclick="GetActiveJobs">Check Active Jobs</button>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="box">
        <div class="columns">
            <div class="column is-4">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag">Scheduler</span>
                        @if (AutomationController.CheckScheduler())
                        {
                            <span class="tag is-success">Active</span>
                        }
                        else
                        {
                            <span class="tag is-warning">Inactive</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="columns">
        <table class="table is-narrow is-striped is-small">
            <thead>
                <tr>
                    <th>Job Key</th>
                    <th>Job Schedule</th>
                    <th>Job Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in automationDetails)
                {
                    <tr>
                        <td>
                            <p class="content is-small">@item.JobKey</p>
                        </td>
                        <td>
                            <p class="content is-small">@item.JobSchedule</p>
                        </td>
                        <td>
                            <p class="content is-small">@item.JobStatus</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@


@code {

    bool loading = false;
    List<AutomationController.Response> automationDetails;

    protected override async Task OnInitializedAsync()
    {
        automationDetails = new List<AutomationController.Response>();
    }

    private async Task StartScheduler()
    {
        if (loading)
        {
            return;
        }
        else
        {
            loading = true;
            await AutomationController.CreateScheduler();
            await AutomationController.ScheduleCrawlersAutomation();
            loading = false;
        }
    }

    private void GetActiveJobs()
    {
        if (loading)
        {
            return;
        }
        else
        {
            loading = true;
            automationDetails = AutomationController.GetActiveJobs();
            loading = false;
        }
    }

    private async Task StopScheduler()
    {
        if (loading)
        {
            return;
        }
        else
        {
            loading = true;
            await AutomationController.DisposeScheduler();
            loading = false;
        }
    }
}