@page "/crawlerscommander"
@using Microsoft.AspNetCore.Components.Authorization
@using WEB.Shop.Application.Crawlers
@inject CrawlersCommander commander

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">add</button>
<button class="btn btn-primary" @onclick="DecrementCount">remove</button>
<button class="btn btn-primary" @onclick="CheckCount">check</button>
<button class="btn btn-primary" @onclick="TestEngine">TestEnginh</button>



<div id="app">

        <div class="tabs is-centered">
            <ul>
                <li><a>Main Options</a></li>
                <li><a>Database Summary</a></li>
            </ul>
        </div>
</div>





@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        commander.Add();
        currentCount = commander.test;
    }

    private void DecrementCount()
    {
        commander.Remove();
        currentCount = commander.test;
    }

    private void CheckCount()
    {
        currentCount = commander.test;
    }


    private void TestEngine()
    {
        commander.RunEngineAsync();
    }
}