@page "/crawlerscommander"
@using Microsoft.AspNetCore.Components.Authorization
@using WEB.Shop.Application.Crawlers
@inject CrawlersCommander commander

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">add</button>
<button class="btn btn-primary" @onclick="DecrementCount">remove</button>
<button class="btn btn-primary" @onclick="CheckCount">check</button>
<button class="btn btn-primary" @onclick="TestEngine">TestEnginh</button>
















@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        commander.Add();
        currentCount = commander.test;
    }

    private void DecrementCount()
    {
        commander.Remove();
        currentCount = commander.test;
    }

    private void CheckCount()
    {
        currentCount = commander.test;
    }


    private void TestEngine()
    {
        commander.RunEngineAsync();
    }
}