@page "/crawlerscommander"
@using Microsoft.AspNetCore.Components.Authorization
@using WEB.Shop.Application.Crawlers
@inject CrawlersCommander commander

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">add</button>
<button class="btn btn-primary" @onclick="DecrementCount">remove</button>
<button class="btn btn-primary" @onclick="CheckCount">check</button>
<button class="btn btn-primary" @onclick="TestEngine">TestEnginh</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        commander.Add();
        currentCount = commander.test;
    }

    private void DecrementCount()
    {
        commander.Remove();
        currentCount = commander.test;
    }

    private void CheckCount()
    {
        currentCount = commander.test;
    }


    private void TestEngine()
    {
        commander.RunEngine();
    }



    //private string[] _todoItems;

    //protected override async Task OnInitializedAsync()
    //{
    //    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //    var user = authState.User;

    //    var http = new HttpClient();
    //    http.BaseAddress = new Uri("https://localhost:44370/");

    //    _todoItems = await http.GetJsonAsync<string[]>("api/Setup/options");

    //}
}