@page "/crawlerscommander"
@using Microsoft.AspNetCore.Components.Authorization
@using WEB.Shop.Application.Crawlers
@inject CrawlersCommander commander

<div>
    <div class="tabs is-centered" >
        <ul>
            <li><a @onclick="SelectMainTab">Main Options</a></li>
            <li><a @onclick="SelectSummaryTab">Database Summary</a></li>
        </ul>
    </div>
</div>

@switch (activeTab)
{
    case ActiveTab.Main:

        <div>
            <button class="btn btn-primary" @onclick="TestEngine">TestEngine</button>
        </div>

        break;
    case ActiveTab.Summary:

        <div>

   

        </div>

        break;

    default:
        activeTab = ActiveTab.Main;
        break;
}




@code {

    private ActiveTab activeTab = ActiveTab.Main;

    private enum ActiveTab
    {
        Main,
        Summary,
    }

    private void SelectMainTab()
    {
        activeTab = ActiveTab.Main;
    }

    private void SelectSummaryTab()
    {
        activeTab = ActiveTab.Summary;
    }

    private async Task TestEngine()
    {
        await commander.RunEngineAsync();
    }
}