@using WEB.Shop.Application.BlazorServices
@using WEB.Shop.Application.ProductsAdmin
@using WEB.Shop.Application.Enums
@inject CartBlazorService cartBlazorService 


<h3>MainCartComponent</h3>









@code {

}
