@page
@model WEB.Shop.UI.Pages.CartModel
@{
}

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            @foreach (var product in Model.Cart)
            {
                <div class="level">
                    <div class="level-item"></div>
                    <div class="level-item">
                        <p class="title">
                            @product.Name
                        </p>
                    </div>
                    <div class="level-item">
                        <p class="subtitle">
                            @product.Description
                        </p>
                    </div>
                    <div class="level-item">
                        <p>@product.Quantity</p>
                    </div>
                    <div class="level-item">
                        <p>@product.Value</p>
                    </div>
                </div>
            }
        <div class="has-text-right">
            <a asp-page="/Index" class="button is-text">Kup no coś jeszcze!</a>
            <a asp-page="/Checkout/Payment" class="button is-success">Przelicz koszyk</a>
        </div>
        </div>
    </div>
</div>