@page
@model WEB.Shop.UI.Pages.IndexModel

<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <video controls autoplay muted loop>
            <source src="~/Videos/production%20ID_4318387.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
        <h1>Witaj w Tanim Żarciu!</h1>
        <hr class="hr-light">
        <p>Na naszych półkach znajdziesz produkty między innym z Lidla, Biedronki i Kauflandu! </p>
        <p>Poszperaj i sprawdź kto oferuje najlepsze promocje.</p>
        <form method="post" asp-page-handler="Shop" asp-route-shop="Wszystkie">
            <button class="btn-1" type="submit">Poszperaj!</button>
        </form>
    </div>
</header>
<div>
    <ul class="our-links">
        <li><a href="#">SWP</a></li>
        <li><a href="#">SWP</a></li>
    </ul>
</div>

<button onclick="scrollWin()" class="scroll-down"><img alt="Arrow Down Icon" src="~/images/icons8-double-down-50.png" /></button>


<div class="container-fluid m-5">
    <h3 class="text-center m-5">O co tutaj chodzi?</h3>
    <div class="row">
        <div class="col-6 m-auto">
            <div>
                <p>
                    Przeszukujemy półki najpopularniejszych marketów w poszukiwaniu promocji.
                    Wybierz sklepy lub kategorie, które Cię interesuja i zapoluj na promocje spożywcze, budowlane i inne.
                    Zostań z nami na dłużej!
                </p>
            </div>
        </div>
        <div class="col-6 m-auto">
            <div>
                <p>
                    Przeszukujemy półki najpopularniejszych marketów w poszukiwaniu promocji.
                    Wybierz sklepy lub kategorie, które Cię interesuja i zapoluj na promocje spożywcze, budowlane i inne.
                    Zostań z nami na dłużej!
                </p>


            </div>
        </div>
    </div>
    <p class="text-warning text-center m-5">
        Zespół Taniego Żarcia <span> <img style="height:20px;" src="~/content/browserIcons/udko.png" alt="Udeczko" /> </span>
    </p>
</div>



<!--<section>
                    <div class="container-fluid cards-wrapper">
                        <div class="col-12">
                            <div class="row">
                                @foreach (var shop in Model.Shops)
                                {
                                    var imagePath = $"/ShopCardImage/{shop.ImagePath}";
                                    <a asp-page-handler="@shop.Name">
                                        <div class="card">
                                            <img class="card-img-top" alt="Card image cap" src="@imagePath" />
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </section>
-->
<!-- Example only -->
@*<a asp-page-handler="Shop" asp-route-shop="TEST" >
        <div class="card">
            <img class="card-img-top" src="~/content/shopLogos/Biedronka.jpg" />
        </div>
    </a>*@


<section>

    <div id="stack1" class="card-container start">
        <section id="card1" class="card-index card1">
            <h1>Biedronka</h1>
            <img class="card-img-top" src="~/content/shopLogos/Biedronka.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszperaj w poszukiwaniu promocji!</span></div>
        </section>
        <section id="card2" class="card-index card2">
            <h1>Auchan</h1>
            <img class="card-img-top" src="~/content/shopLogos/Auchan.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszperaj w poszukiwaniu promocji!</span></div>
        </section>
        <section id="card3" class="card-index card3">
            <h1>Kaufland</h1>
            <img class="card-img-top" src="~/content/shopLogos/Kaufland.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszperaj w poszukiwaniu promocji!</span></div>
        </section>
        <section id="card4" class="card-index card4">
            <h1>Aldi</h1>
            <img class="card-img-top" src="~/content/shopLogos/Aldi.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszperaj w poszukiwaniu promocji!</span></div>
        </section>
        <section id="card5" class="card-index card5">
            <h1>Lidl</h1>
            <img class="card-img-top" src="~/content/shopLogos/Lidl.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszperaj w poszukiwaniu promocji!</span></div>
        </section>
    </div>
</section>


<button onclick="topFunction()" id="myBtn" title="Go to top">
    <img src="~/images/icons8-chevron-48.png" />
</button>

<div class="container cards" id="stack2">
    <div class="card-columns">
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Biedronka.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer class="blockquote-footer text-white">
                    <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
        </div>
        <div class="card p-3 text-right">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>















    </div>

</div>