@page
@model WEB.Shop.UI.Pages.IndexModel

<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <video controls autoplay muted loop>
            <source src="~/Videos/production%20ID_4318387.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
        <h1>Witaj w Tanim Żarciu!</h1>
        <hr class="hr-light">
        <p>Na naszych półkach znajdziesz produkty między innym z Lidla, Biedronki i Kauflandu! </p>
        <p>Poszperaj i sprawdź kto oferuje najlepsze promocje.</p>
        <form method="post" asp-page-handler="Shop" asp-route-shop="Wszystkie">
            <button class="btn-1" type="submit">Poszperaj!</button>
        </form>
    </div>
</header>
<div>
    <ul class="our-links">
        <li><a href="#">SWP</a></li>
        <li><a href="#">SWP</a></li>
    </ul>
</div>

<button onclick="scrollWin()" class="scroll-down"><img alt="Arrow Down Icon" src="~/images/icons8-double-down-50.png" /></button>


<div class="container-fluid m-5">
    <h3 class="text-center m-5">O co tutaj chodzi?</h3>
    <div class="row">
        <div class="col-6 m-auto">
            <div>
                <p>
                    Przeszukujemy półki najpopularniejszych marketów w poszukiwaniu promocji.
                    Wybierz sklepy lub kategorie, które Cię interesuja i zapoluj na promocje spożywcze, budowlane i inne.
                    Zostań z nami na dłużej!
                </p>
            </div>
        </div>
        <div class="col-6 m-auto">
            <div>
                <p>
                    Przeszukujemy półki najpopularniejszych marketów w poszukiwaniu promocji.
                    Wybierz sklepy lub kategorie, które Cię interesuja i zapoluj na promocje spożywcze, budowlane i inne.
                    Zostań z nami na dłużej!
                </p>

            </div>
        </div>
    </div>
    <p class="text-warning text-center m-5">
        Zespół Taniego Żarcia <span> <img style="height:20px;" src="~/content/browserIcons/udko.png" alt="Udeczko" /> </span>
    </p>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">
    <img src="~/images/icons8-chevron-48.png" />
</button>

<div class="container cards" id="stack2">
    <div class="card-columns">
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Biedronka.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/LeroyMerlin.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card bg-warning text-dark text-center p-3">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer class="blockquote-footer text-white">
                    <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card bg-warning text-dark text-center p-3">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer class="blockquote-footer text-white">
                    <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Aldi.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Auchan.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Kaufland.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Lidl.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>


        <div class="card bg-warning text-dark text-center p-3">
            <i class='fas fa-shopping-cart card-icon'></i>
            <div class="card-title">Przeszukaliśmy tyle produktów</div>
            <div class="counter" data-target="5000">0</div>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Mila.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card bg-warning text-dark text-center p-3">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer class="blockquote-footer text-white">
                    <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Selgros.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Obi.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Obi.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>
        <div class="card card-index-1">
            <img class="img-fluid" src="~/content/shopLogos/Obi.jpg" />
            <p><a href="#">Liczba promocji</a></p>
            <div class="footer"><span>Poszukaj promocji!</span></div>
        </div>

    </div>
</div>




<div class="container cards" id="stack2">
    <div class="card-columns">
        @{
            int shopNo = 0;

            @for (int columnNo = 0; columnNo < Model.Shops.Count + 4; columnNo++)
            {
                switch (columnNo)
                {
                    case 2:
                        <div class="card bg-warning text-dark text-center p-3">
                            <i class='fas fa-shopping-cart card-icon'></i>
                            <div class="card-title">Liczba znalezionych promocji</div>
                            <div class="counter" data-target="2000">0</div>
                        </div>
                        break;

                    case 3:
                        <div class="card bg-warning text-dark text-center p-3">
                            <i class='fas fa-shopping-cart card-icon'></i>
                            <div class="card-title">Jakaś liczba</div>
                            <div class="counter" data-target="50">0</div>
                        </div>
                        break;

                    case 8:
                        <div class="card bg-warning text-dark text-center p-3">
                            <i class='fas fa-shopping-cart card-icon'></i>
                            <div class="card-title">Liczba przeszukanych sklepów</div>
                            <div class="counter" data-target="10">0</div>
                        </div>
                        break;

                    case 10:
                        <div class="card bg-warning text-dark text-center p-3">
                            <i class='fas fa-shopping-cart card-icon'></i>
                            <div class="card-title">Liczba ogólna</div>
                            <div class="counter" data-target="250">0</div>
                        </div>
                        break;

                    default:
                        var shop = Model.Shops[shopNo];
                        shopNo++;

                        var imageShop = $"/ShopCardImage/{shop.SmallImagePath}";

                        <div class="card card-index-1">
                            <img class="img-fluid" src=@imageShop />
                            <p><a asp-page-handler="Shop" asp-route-shop="@shop.Name">Liczba promocji</a></p>
                            <div class="footer"><span>Poszukaj promocji!</span></div>
                        </div>
                        break;
                }
            }
        }
    </div>
</div>