@page
@model WEB.Shop.UI.Pages.IndexModel

<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <video controls autoplay muted loop>
            <source src="~/Videos/production%20ID_4318387.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
        <h1>Witaj w Tanim Żarciu!</h1>
        <p>Na naszych półkach znajdziesz produkty między innym z Lidla, Biedronki i Kauflandu! </p>
        <p>Poszperaj i sprawdź kto oferuje najlepsze promocje.</p>
        <form method="post" asp-page-handler="AllShops">
            <button class="btn-1" type="submit">Poszperaj</button>
        </form>
    </div>
</header>
<section>

    <div class="container-fluid m-5">

        <h3 class="m-4">O co tutaj chodzi?</h3>
        <!--<section>
            <div class="container-fluid cards-wrapper">
                <div class="col-12">
                    <div class="row">
                        @foreach (var shop in Model.Shops)
                        {
                            var imagePath = $"/ShopCardImage/{shop.ImagePath}";
                            <a asp-page-handler="@shop.Name">
                                <div class="card">
                                    <img class="card-img-top" alt="Card image cap" src="@imagePath" />
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </section>
        -->

        <div id="stack1" class="container-cards">
            <div class="card-deck">
                <div id="card-00" class="card-front card-00">
                    <a href="#">
                        <img class="card-img-top" alt="Card image cap" src="~/content/shopLogos/Aldi.jpg" />
                    </a>
                </div>
                <div id="card-01" class="card-front card-01">
                    <a href="#">
                        <img class="card-img-top" alt="Card image cap"
                             src="~/content/shopLogos/Auchan.jpg" />
                    </a>
                </div>
                <div id="card-02" class="card-front card-02">
                    <a href="#">
                        <img class="card-img-top" alt="Card image cap"
                             src="~/content/shopLogos/Biedronka.jpg" />
                    </a>
                </div>
                <div id="card-03" class="card-front card-03">
                    <a href="#">
                        <img class="card-img-top" alt="Card image cap"
                             src="~/content/shopLogos/Kaufland.jpg" />
                    </a>
                </div>
                <div id="card-04" class="card-front card-04">
                    <a href="#">
                        <img src="~/content/shopLogos/LeroyMerlin.jpg"
                             class="card-img-top" alt="Card image cap" />
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
