@page
@model WEB.Shop.UI.Pages.IndexModel

<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <video controls autoplay muted loop>
            <source src="~/Videos/production%20ID_4318387.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
        <h1>Witaj w Tanim Żarciu!</h1>
        <p>Na naszych półkach znajdziesz produkty między innym z Lidla, Biedronki i Kauflandu! </p>
        <p>Poszperaj i sprawdź kto oferuje najlepsze promocje.</p>
        <form method="post" asp-page-handler="AllShops">
            <button class="btn-1" type="submit">Poszperaj</button>
        </form>
    </div>
</header>

<section>

    <div class="container-fluid m-5">

        <h3>O co tutaj chodzi?</h3>
        <p>Poszperaj i sprawdź kto oferuje najlepsze promocje. Skorzystaj z koszyka i zobacz ile zapłacisz za konkretne produkty. Użyj porównywarki i sprawdź, gdzie warto się wybrać na zakupy!</p>
        <p>Przeszukujemy dla Ciebie sklepy w poszukiwaniu najlepszych promocji!</p>
        <form method="post" asp-page="/ProductsOverview">
            <button class="btn-1" type="submit">Wyszukaj</button>
        </form>
    </div>
</section>
<section>
    <div class="container-fluid cards-wrapper">
        <div class="col-12">
            <div class="row">
                @foreach (var shop in Model.Shops)
                {
                    var imagePath = $"/ShopCardImage/{shop.ImagePath}";
                    <a asp-page-handler="@shop.Name">
                        <div class="card-front">  
                            <img class="card-img-top" alt="Card image cap" src="@imagePath" />
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</section>


