@page
@model WEB.Shop.UI.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron-fluid">
    <div class="text-center rgba-stylish-strong py-5 px-4 ">
        <div class="py-5">
            <h1 class="display-4" style="background-color: #000000; opacity: 0.8">Witaj w Tanim Żarciu!</h1>
            <p class="lead" style="background-color: #000000; opacity: 0.8">Na naszych półkach znajdziesz produkty między innym z Lidla, Biedronki i Kauflandu! </p>
            <hr class="my-4">
            <p style="background-color: #000000; opacity: 0.8">Poszperaj i sprawdź kto oferuje najlepsze promocje. Skorzystaj z koszyka i zobacz ile zapłacisz za konkretne produkty. Użyj porównywarki i sprawdź, gdzie warto się wybrać na zakupy!</p>
            <p class="lead">
                <a class="btn btn-warning" href="#" role="button">Poszperaj!</a>
            </p>
        </div>
    </div>
</div>



<div class="container mt-3">

    <h3 class="text-center">Top promocje w tym tygodniu!</h3>



    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left" style="color:#000000"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next">
                <i class="fas fa-chevron-right" style="color:#000000"></i>
            </a>
        </div>

        <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Biedronka</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Lidl</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Kaufland</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--/.First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Biedronka</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Lidl</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Kaufland</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Biedronka</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Lidl</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Kufland</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-warning">Sprawdź</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Third slide-->

        </div>

    </div>

</div>







