@model WEB.Shop.Application.Crawlers.CrawlersCommander
@{
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}


@*<h1>@Model.test</h1>

<button type="button" class="button is-warning" onclick="location.href='@Url.Action("Add", "Crawlers")'">Add</button>
<button type="button" class="button is-warning" onclick="location.href='@Url.Action("Remove", "Crawlers")'">Remove</button>*@





