@*@model WEB.Shop.UI.Controllers.CrawlersController.Test
@{
    Layout = "_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>@Model.TestCounter</h1>*@

@*<button type="button" class="button is-warning" onclick="location.href='@Url.Action("Add", "Crawlers")'">Add</button>
    <button type="button" class="button is-warning" onclick="location.href='@Url.Action("Remove", "Crawlers")'">Remove</button>*@

@*<a href="@Url.Action("Report", "controller name", new { reportName = "AffiliateTFNDailySummary" })">Provider</a>*@

@*<a asp-controller="Crawlers" asp-action="Index"></a>*@



